@font-face {
  font-family: "Almaq Rough";
  src: url("../public/fonts/Almaq\ Rough.ttf") format("truetype");
}
@font-face {
  font-family: "Almaq Refined";
  src: url("../public/fonts/Almaq\ Refined.ttf") format("truetype");
}
:root{
  /*colors*/
  --white:#f4f3f1;
  --orange:#ED7522;
  --green:#023639;
  --light-green:#184C4F;
  --black:#061819;
  
  --air-superiority-blue: #7C93AAff;
  --powder-blue: #97B5D1ff;
  --van-dyke: #3E2F2Dff;
  --gray: #787C84ff;
  --powder-blue-2: #A8B4C6ff;
  --steel-blue: #365b6d;

  --font-body: Sans-serif,Arial, Helvetica;
  --font-title: lato, sans-serif;
  --font-subtitle: lato, sans-serif;
}
/*fonts*/
*{
  box-sizing: border-box;
  margin: 0px;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}
body{
  margin: 0px;
  font-family: var(--font-body);
  font-size: 18px;
  color: var(--black);

}
h1,h2{
  font-family: var(--font-subtitle);
  font-weight: normal;
}
h2{
  margin: 20px 0;
  font-size: 2.5rem;
}
h4{
  text-decoration: underline;
}
li,a{
  list-style: none;
  text-decoration: none;
  color: var(--black);
}

/*header*/
#main-header-home-page{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
  margin-bottom: -20vh;
}
#main-header{
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#main-header img, #main-header-home-page img{
  width: 50%;
}
#main-header a, #main-header-home-page a{
  padding: 0px 20px;
  text-decoration: none;
  color:var(--white);
  font-weight: bold;
}
#main-header div:nth-of-type(2){
  margin-right: 10px;
}
/*footer*/
#main-footer{
  background-color: var(--black);
  color:var(--white);
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:start;
  padding: 4rem 0px;
}
#main-footer p,h3{
  margin: 0px;
}
#contact-footer >p:nth-of-type(odd){
  margin-top:15px;
}

#social-footer{
  text-align: right;
  display: flex;
  flex-direction: column;
}
#social-footer h3{
  margin-bottom: 15px;
}
#social-icons img{
  width: 10%;
}
#footer-logo img{
  margin-top: 20px;
  width:70%;
}

/*hero*/
#hero {
  position: relative;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--white);
  font-family: var(--font-title);
  font-size: 50px;
}
#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  transform: translate(-50%, -50%); 
  z-index: -1; 
}
#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0; 
}


#hero h1{
  position: relative;
  z-index: 1 ;
  font-family: var(--font-title);
  font-size: 85px;
  font-weight: normal;

}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(8, 12, 16, 0.5));
  z-index: 0;
}
.position-abosulute-text{
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: var(--white);
  font-size: 2rem;

}
.position-abosulute-text a{
  color: var(--white);
}
.button-wrapper{
  margin: 1.5rem 0;
}
button{
  display: inline-block;
  position: relative;
  padding:1.2rem;
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  font-size: 1.5rem;
  cursor: pointer;
}
.button-hero{
  display: inline-block;
  position: relative;
  padding:1.2rem;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}
#hero-flex{
  display: flex;
  flex-direction: column;
  padding-left: 3.5rem;
  margin-top: 8rem;
  width: calc(100% - 3.5rem);
}
/*products-home*/
.padding-left{
  padding:3.5rem;
}
li{
  list-style: none;
  text-align: center;
}
.products{
  margin: 2rem 0px;
}
 
.products img, .saved-rentals img{
  width: 100%;
  display: block;
}
.summer-rentals, .winter-rentals{
  cursor: pointer;
  max-width: 500px;
  width: 100%;
  position: relative;
  margin: 0 1rem;
  overflow: hidden;
}


.summer-rentals p, .winter-rentals p{
  position: relative; 
  color: white; 
  z-index: 1; 
}



.products ul,p{
  margin: 0;
  padding: 0;
}

.products-flex{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 2rem;
}


/*where to stay*/

.where-to-stay{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top:10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.where-to-stay img, .what-to-eat img{
  max-width: 100%;
}
.where-to-stay-padding{
  padding: 0 4rem 4rem 2rem;
}
.what-to-eat{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top:8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.what-to-eat-padding{
  padding: 0 4rem 4rem 2rem;
}


/*product-list*/
.products-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  
}
.product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  max-width: 420px;
  height: 450px;
  border: 1px solid var(--white);
  border-radius: 10px;
  margin: 1rem;}
.product-container img{
  width: 75%;
}

/*product-detail*/

.product-page-wrapper{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.product-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 620px;
  border: 1px solid var(--white);
  border-radius: 10px;
  text-align: center;
}
.product-detail h3{
  text-align: center; 
  margin-bottom: 1rem;
}
.product-detail img{
  width: 65%;
  margin:auto;
}

.product_prices_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.product_prices{
  background-color: #e0f7e7; 
  color: #2d7a33; 
  font-weight: bold; 
  padding: 5px 10px; 
  border-radius: 8px; 
  display: inline-block; 
  text-align: center; 
  margin-right: 5px;
}
.product_prices_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .3rem;
}
.book-now-calendar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 380px;
}
#calendar h2{
  font-size: 1.5rem;
  margin-top: 1rem;
}
