<div id="contact-footer">
  <h3>Contact Us</h3>
  <p>Address</p>
  <p>3402 N Highway 20 Island Park, Idaho 83429</p>
  <p>Phone</p>
  <p>208-558-7112</p>
  <p>Email</p>
  <p>frontdesk@islandparkexpeditions.com</p>
</div>
<div id="social-footer">
  <h3>Stay Connected</h3>
  <div id="social-icons">
    <a><img src="../images/facebook.svg" alt="facebook" /></a>
    <a><img src="../images/instagram.svg" alt="instagram" /></a>
  </div>
  <div id="footer-logo">
    <img
      src="../images/FULL LOGO OFFICIAL  (1).png"
      alt="Island Park Expeditions Logo"
    />
  </div>
</div>
