<div>
  <a href="/index.html"
    ><img
      src="../images/logo-horizontal-white-blue.png"
      alt="Island Park Expeditions Logo"
  /></a>
</div>
<div class="hamburger-menu hide">
  <p>☰</p>
</div>
<div class="overlay-menu">
  <span class="close-btn">×</span>
  <ul>
    <li><a href="../index.html/#where-to-stay"">Where To Stay</a></li>
    <li><a href="../index.html/#what-to-eat">What To Eat</a></li>
    <li><a href="../product-list/index.html?category=Summer">Summer Rentals</a></li>
    <li><a href="../product-list/index.html?category=Winter">Winter Rentals</a></li>
    
  </ul>
</div>
<div class="nav-menu">
  <a href="../index.html/#where-to-stay">Where To Stay</a>
  <a href="../index.html/#what-to-eat">What To Eat</a>
  <a href="../product-list/index.html?category=Summer">Summer Rentals</a>
  <a href="../product-list/index.html?category=Winter">Winter Rentals</a>
</div>
